{% extends 'base.html' %}
{% block content %}
{% load static %}

<form method="post">
    {% csrf_token %}
    <div class="row_data">
        <div class="label_data">
            <label for="phone_no">PHONE NO:</label>
        </div>
        <div class="val_in">
            <input type="text" id="phone_no" name="phone_no" value="">
        </div>
    </div>
    <div class="row_data">
        <div class="label_data">
            <label for="name">NAME:</label>
        </div>
        <div class="val_in">
            <input type="text" name="name" id="name">
        </div>
    </div>
    <div class="row_data">
        <div class="label_data">
            <label for="course">COURSE:</label>
        </div>
        <select name="course" id="course">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
        </select>
    </div>
    <div class="row_data">
        <div class="label_data">
            <label for="email">EMAIL:</label>
        </div>
        <div class="val_in">
            <input type="email" name="email" id="email">
        </div>
    </div>
    <div class="row_data">
        <div class="label_data">
            <label for="place">PLACE:</label>
        </div>
        <div class="val_in">
            <input type="text" name="place" id="place">
        </div>
    </div>
    <div class="row_data">
        <div class="label_data">
            <label for="lead_date">LEAD GIVEN DATE:</label>
        </div>
        <div class="val_in">
            <input type="date" name="lead_date" id="lead_date">
        </div>
    </div>
    <div class="row_data">
        <div class="label_data">
            <label for="remark">REMARK:</label>
        </div>
        <div class="val_in">
            <input type="text" name="remark" id="remark">
        </div>
    </div>
    <div class="row_data">
        <div class="btn">
            <input type="submit" value="submit">
        </div>
    </div>
    <p style="color: black;">{{msg}}</p>
</form>
{% endblock %}