
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Call page</title>
    <style>
        .custom-input {
    color: rgb(4, 4, 4);
    background-color: #faf7f7; /* Change background color */
    border-color: #f9f7f7; /* Change border color */
    }
    .custom-input:focus {
    color: white; /* Set text color to white when input is focused */
    }
    .form-container {
    border: 1px solid #ccc; /* Add border to the form container */
    padding: 20px; /* Add padding to give space between the border and form elements */
    background-color: #e4e6e4;
    }
    .container1 {
    border: 1px solid #ccc; /* Add border to the form container */
    padding: 5px; /* Add padding to give space between the border and form elements */
    background-color: #e4e6e4;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="container1">
            <h4 style="text-align: center; color: black;">INITIAL CALL</h4>
        </div>
        <br>
            {% for i in data %}
            <form id="dynamicForm" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                        <div class="form-container">
                            <p style="color: black;">STUDENT PART</p>
                            <input type="hidden" name="personId" id="personId" value="{{i.id}}">
                            <input type="text" class="form-control custom-input" name="control_no" value="{{i.control_no}}" disabled><br>


                            {% if i.name %}
                                {% if request.session.username == 'admin' %}
                                    <input type="text" class="form-control custom-input" name="name1" value="{{i.name}}"><br>
                                {% else %}
                                    <input type="text" class="form-control custom-input" name="name1" value="{{i.name}}" disabled><br>
                                    <input type="hidden" name="name1" value="{{i.name}}">
                                {% endif %}
                            {% else %}
                                <!-- Handle the case where i.name is not available -->
                                <input type="text" class="form-control custom-input" name="name1" placeholder="Enter the Name"><br>
                            {% endif %}

                            {% if i.phone_no %}
                                {% if request.session.username == 'admin' %}
                                    <input type="text" class="form-control custom-input" name="phone_no" value="{{i.phone_no}}" required><br>
                                {% else %}
                                    <input type="text" class="form-control custom-input" name="phone_no" value="{{i.phone_no}}" required disabled><br>
                                    <input type="hidden" name="phone_no" value="{{i.phone_no}}">
                                {% endif %}
                            {% else %}
                                <!-- Handle the case where i.phone_no is not available -->
                                <input type="text" class="form-control custom-input" name="phone_no" placeholder="Enter the Phone" required><br>
                            {% endif %}

                            {% if i.email %}
                                {% if request.session.username == 'admin' %}
                                    <input type="text" class="form-control custom-input" name="email" value="{{i.email}}" ><br>
                                {% else %}
                                    <input type="text" class="form-control custom-input" name="email" value="{{i.email}}" disabled><br>
                                    <input type="hidden" name="email" value="{{i.email}}">
                                {% endif %}
                            {% else %}
                                <!-- Handle the case where i.email is not available -->
                                <input type="text" class="form-control custom-input" name="email" placeholder="Enter the Email"><br>
                            {% endif %}

                            {% if i.degree %}
                                {% if request.session.username == 'admin' %}
                                    <input type="text" class="form-control custom-input" name="degree" value="{{i.degree}}" ><br>
                                {% else %}
                                    <input type="text" class="form-control custom-input" name="degree" value="{{i.degree}}" disabled><br>
                                    <input type="hidden" name="degree" value="{{i.degree}}">
                                {% endif %}
                            {% else %}
                                <!-- Handle the case where i.email is not available -->
                                <input type="text" class="form-control custom-input" name="degree" placeholder="Enter the Qualification"><br>
                            {% endif %}

                            {% if i.course_type %}
                                <select name="coursemode" class="form-control custom-input" id="coursemode">
                                <option value="{{i.course_type}}">{{i.course_type}}</option>
                                <option value="internship">internship</option>
                                <option value="workshop">workshop</option>
                                </select><br>
                            {% else %}
                                <!-- Handle the case where i.course is not available -->
                                <select name="coursemode" class="form-control custom-input" id="coursemode1">
                                <option value="Not mentioned">Not mentioned</option>
                                <option value="internship">internship</option>
                                <option value="workshop">workshop</option>
                                </select><br>
                            {% endif %}

                            {% if i.course %}
                                <select name="course" class="form-control custom-input" id="course">
                                <option value="{{i.course}}">{{i.course}}</option>
                                {% for c in coursedata %}
                                <option value="{{c.course}}">{{c.course}}</option>
                                {% endfor %}
                                </select><br>
                            {% else %}
                                <!-- Handle the case where i.course is not available -->
                                <select name="course" class="form-control custom-input" id="course1">
                                <option value="">not mentioned</option>
                                {% for c in coursedata %}
                                <option value="{{c.course}}">{{c.course}}</option>
                                {% endfor %}
                                </select><br>
                            {% endif %}

                            {% if i.place %}
                                {% if request.session.username == 'admin' %}
                                    <input type="text" class="form-control custom-input" name="place" value="{{i.place}}" ><br>
                                {% else %}
                                    <input type="text" class="form-control custom-input" name="place" value="{{i.place}}" disabled><br>
                                    <input type="hidden" name="place" value="{{i.place}}">
                                {% endif %}
                            {% else %}
                                <!-- Handle the case where i.place is not available -->
                                <input type="text" class="form-control custom-input" name="place" placeholder="Enter the Place"><br>
                            {% endif %}

                            {% if i.source %}
                                <input type="text" class="form-control custom-input" name="source" value="{{i.source}}" disabled><br>
                            {% else %}
                                <!-- Handle the case where i.email is not available -->
                                <input type="text" class="form-control custom-input" name="source" placeholder="source not available" disabled><br>
                            {% endif %}

                            {% if i.remark %}
                                <input type="text" class="form-control custom-input" name="remark" value="{{i.remark}}" disabled><br>
                            {% else %}
                                <!-- Handle the case where i.remark is not available -->
                                <input type="text" class="form-control custom-input" name="remark" placeholder="remark not available" disabled><br>
                            {% endif %}
                        </div>
                    </div>

                    <br>
                    <br>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 ">
                        <div class="form-container">
                            <p style="color: black;">EMPLOYEE PART</p>
                            <select name="name" class="form-control custom-input" id="name">
                                <option value="{{request.session.name}}|{{request.session.emp_id}}">{{request.session.name}}({{request.session.emp_id}})</option>
                                    {% for j in data1 %}
                                        <option value="{{j.name}}|{{j.emp_id}}">{{j.name}}({{j.emp_id}})</option>
                                    {% endfor %}
                            </select><br>
                            <select name="called_meadium" class="form-control custom-input" id="called_meadium">
                                <option value="phone">Phone</option>
                                <option value="email">Email</option>
                                <option value="message">message</option>
                                <option value="others">others</option>
                            </select><br>
                            <select name="status" class="form-control custom-input" id="status">
                                <option value="1">CONFORMED</option>
                                <option value="2">NEED FOLLOWING</option>
                                <option value="3">DENIED</option>
                            </select><br>
                            <input type="text" class="form-control custom-input" placeholder="Enter the Remark" name="remark"><br>
                        </div>    
                    </div>
                </div> 
                <br>   
                <input type="submit" class="btn btn-success">
            </form>
            {% endfor %}
            {% for msg in messages %}
            {{msg}}
            {% endfor %}
        
    </div>

<script>
   // Attach event listener to form submission
    $(document).on('submit', '#dynamicForm', function(event) {
        console.log("Form submission event triggered");
        // Prevent default form submission
            event.preventDefault();

            // Get the personId from the form or any other appropriate source
            var personId = $('#personId').val();

            // Call submitForm function to handle form submission
            submitForm(personId);
        });




                // Function to handle form submission
                function submitForm(personId) {
                    console.log(personId);
                    console.log("hia all");

                    // Serialize form data
                    var formData = $('#dynamicForm').serialize();
                    console.log(formData)

                    // Send POST request to save form data
                    $.ajax({
                        url: `/call/${personId}/`, // Use personId variable here
                        method: 'POST',
                        data: formData,
                        success: function(response) {
                            // Handle success response
                            console.log('Form submitted successfully');
                            // You can optionally close the popup or perform any other action here
                            document.getElementById('callPopup').style.display = 'none';
                            location.reload();
                            // closePopup(); // Close the popup after form submission
                        },
                        error: function(xhr, status, error) {
                            // Handle error response
                            console.error('Error submitting form:', error);
                            // Optionally display an error message to the user
                        }
                    });
                }


</script>
</body>
</html>


