
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Call page</title>
</head>
<body>
    <div class="container">
        {% for i in data %}
        <form id="dynamicForm" method="post">
            {% csrf_token %}
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <input type="hidden" name="personId" id="personId" value="{{i.id}}">
                <input type="text" name="control_no" value="{{i.control_no}}" disabled><br>


                {% if i.name %}
                    <input type="text" name="name1" value="{{i.name}}" ><br>
                {% else %}
                    <!-- Handle the case where i.name is not available -->
                    <input type="text" name="name1" placeholder="Name not available"><br>
                {% endif %}

                {% if i.phone_no %}
                    <input type="text" name="phone_no" value="{{i.phone_no}}" ><br>
                {% else %}
                    <!-- Handle the case where i.phone_no is not available -->
                    <input type="text" name="phone_no" placeholder="phone no not available"><br>
                {% endif %}

                {% if i.email %}
                    <input type="text" name="email" value="{{i.email}}" ><br>
                {% else %}
                    <!-- Handle the case where i.email is not available -->
                    <input type="text" name="email" placeholder="email not available"><br>
                {% endif %}

                {% if i.degree %}
                    <input type="text" name="degree" value="{{i.degree}}" ><br>
                {% else %}
                    <!-- Handle the case where i.email is not available -->
                    <input type="text" name="degree" placeholder="qualification not available"><br>
                {% endif %}

                {% if i.course %}
                    <select name="course" id="course">
                      <option value="{{i.course}}">{{i.course}}</option>
                      {% for c in coursedata %}
                      <option value="{{c.course}}">{{c.course}}</option>
                      {% endfor %}
                    </select><br>
                {% else %}
                    <!-- Handle the case where i.course is not available -->
                    <select name="course" id="course1">
                      <option value="">not mentioned</option>
                      {% for c in coursedata %}
                      <option value="{{c.course}}">{{c.course}}</option>
                      {% endfor %}
                    </select><br>
                {% endif %}

                {% if i.place %}
                    <input type="text" name="place" value="{{i.place}}" ><br>
                {% else %}
                    <!-- Handle the case where i.place is not available -->
                    <input type="text" name="place" placeholder="place not available"><br>
                {% endif %}

                {% if i.source %}
                    <input type="text" name="source" value="{{i.source}}" ><br>
                {% else %}
                    <!-- Handle the case where i.email is not available -->
                    <input type="text" name="source" placeholder="source not available"><br>
                {% endif %}

                {% if i.remark %}
                    <input type="text" name="remark" value="{{i.remark}}" disabled><br>
                {% else %}
                    <!-- Handle the case where i.remark is not available -->
                    <input type="text" name="remark" placeholder="remark not available" disabled><br>
                {% endif %}

            </div>

            <br>
            <br>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 ">
                <select name="name" id="name">
                  <option value="{{request.session.name}}|{{request.session.emp_id}}">{{request.session.name}}({{request.session.emp_id}})</option>
                  {% for j in data1 %}
                  <option value="{{j.name}}|{{j.emp_id}}">{{j.name}}({{j.emp_id}})</option>
                  {% endfor %}
                </select><br>
                <select name="called_meadium" id="called_meadium">
                  <option value="phone">Phone</option>
                  <option value="email">Email</option>
                </select><br>
                <select name="status" id="status">
                  <option value="1">CONFORMED</option>
                  <option value="2">NEED FOLLOWING</option>
                  <option value="3">DENIED</option>
                </select><br>
                <input type="text" placeholder="Enter the Remark" name="remark"><br>
            </div>
            <input type="submit">
        </form>
        {% endfor %}
        {% for msg in messages %}
        {{msg}}
        {% endfor %}
    </div>

<script>
   // Attach event listener to form submission
    $(document).on('submit', '#dynamicForm', function(event) {
        console.log("Form submission event triggered");
        // Prevent default form submission
            event.preventDefault();

            // Get the personId from the form or any other appropriate source
            var personId = $('#personId').val();

            // Call submitForm function to handle form submission
            submitForm(personId);
        });




                // Function to handle form submission
                function submitForm(personId) {
                    console.log(personId);
                    console.log("hia all");

                    // Serialize form data
                    var formData = $('#dynamicForm').serialize();
                    console.log(formData)

                    // Send POST request to save form data
                    $.ajax({
                        url: `/call/${personId}/`, // Use personId variable here
                        method: 'POST',
                        data: formData,
                        success: function(response) {
                            // Handle success response
                            console.log('Form submitted successfully');
                            // You can optionally close the popup or perform any other action here
                            document.getElementById('callPopup').style.display = 'none';
                            location.reload();
                            // closePopup(); // Close the popup after form submission
                        },
                        error: function(xhr, status, error) {
                            // Handle error response
                            console.error('Error submitting form:', error);
                            // Optionally display an error message to the user
                        }
                    });
                }


</script>
</body>
</html>


