{% extends 'base.html' %}
{% block content %}
{% load static %}
<html>
    <head>
        <style>
           /* CSS for white text color */
            .table-responsive table tr th,
            .table-responsive table tr td {
                color: LightGrey;
            }
        </style>
    </head>
    <body>

        {% if data %}
            <h4><u>CONFORMED TABLE</u></h4>
            <a href="{% url 'conformed_export_to_excel' %}">
                <h4 style="color:red;" >download page
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                      <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                      <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                    </svg>
                    <i class="bi bi-file-earmark-arrow-down"></i>
                </h4>
            </a>
            <div class="table-responsive">
                <table class="table table-striped table-bordered ">
                    <tr>
                        <th>ID</th>
                        <th>CONTROL NO</th>
                        <th>LEAD NO</th>
                        <th>LEAD DATE</th>
                        <th>ADDED DATE</th>
                        <th>NAME</th>
                        <th>COURSE</th>
                        <th>EMAIL</th>
                        <th>PLACE</th>
                        <th>REMARK</th>
                        <th>PHONE</th>
                    </tr>

                    {% for i in data %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.lead.control_no}}</td>
                        <td>{{i.lead.lead_no}}</td>
                        <td>{{i.lead.lead_given_date}}</td>
                        <td>{{i.lead.date_time_added}}</td>
                        <td>{{i.lead.name}}</td>
                        <td>{{i.lead.course}}</td>
                        <td>{{i.lead.email}}</td>
                        <td>{{i.lead.place}}</td>
                        <td>{{i.lead.remark}}</td>
                        <td>{{i.lead.phone_no}}</td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <br>
            <br>
            <p align="center" style="color:red;"> There is not any value show... </p>
        {% endif %}
    </body>
</html>
{% endblock %}