{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
           /* CSS for white text color */
    .table-responsive table tr th,
    .table-responsive table tr td {
        color: white;
    }

    th {
        position: sticky;
        top: 0;
        background-color: black;
        z-index: 1;
    }
    /* Additional styling for the container to enable scrolling */
    .table-container {
        max-height: 400px; /* Adjust as needed */
        overflow-y: auto;
    }

          /* Popup container styles */
          .editpopup {
            display: none; /* Hide popup by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
            z-index: 9999; /* Ensure the popup appears on top of other content */
          }

          /* Popup content styles */
          .editpopup-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            max-width: 80%; /* Adjust the width as needed */
            max-height: 80%; /* Adjust the height as needed */
            overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
            width: max-content;
          }

       /* Popup container styles */
          .delpopup {
            display: none; /* Hide popup by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
            z-index: 9999; /* Ensure the popup appears on top of other content */
          }

          /* Popup content styles */
          .delpopup-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            max-width: 80%; /* Adjust the width as needed */
            max-height: 80%; /* Adjust the height as needed */
            overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
          }

        /* Popup container styles */
          .popup {
            display: none; /* Hide popup by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
            z-index: 9999; /* Ensure the popup appears on top of other content */
          }

          /* Popup content styles */
          .popup-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            max-width: 80%; /* Adjust the width as needed */
            max-height: 80%; /* Adjust the height as needed */
            overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
            width: max-content;
          }

         /* Popup container styles */
          .folloupcallpopup {
            display: none; /* Hide popup by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
            z-index: 9999; /* Ensure the popup appears on top of other content */
          }

          /* Popup content styles */
          .folloupcallpopup-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            max-width: 80%; /* Adjust the width as needed */
            max-height: 80%; /* Adjust the height as needed */
            overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
            width: max-content;
          }

          .container1 {
            border: 1px solid #1b1c1c; /* Add border to the form container */
            padding: 5px; /* Add padding to give space between the border and form elements */
            background-color: #1b1c1c;
            margin-left: auto; /* Center the container horizontally */
            margin-right: auto; /* Center the container horizontally */
            width: 37%; /* Set the desired width of the container */
            }
            .inline-block {
                display: inline-block;
            }

</style>
</head>
<body>
 {% if data %}
            <h4><u>CONTACTBOOK</u></h4>
            <a href="{% url 'export_to_excel' %}">
                <h4 style="color:red;" t><small>download contact</small>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                      <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                      <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                    </svg>
                    <i class="bi bi-file-earmark-arrow-down"></i>
                </h4>
            </a>

            <a href="{% url 'contactbook_detail_Report_export_to_excel' %}">
                <h4 style="color:red;" t><small>download detail Report</small>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                      <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                      <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                    </svg>
                    <i class="bi bi-file-earmark-arrow-down"></i>
                </h4>
            </a>

            <br>

            <!-- Modify the onchange attribute of the select element -->
            <small class="inline-block">
                <select id="sortOptions" onchange="sortTable()" style="background-color: #1b1c1c; color: rgb(195, 196, 196);">
                    <option value="lastInFirst">Last in First</option>
                    <option value="firstInFirst">First in First</option>
                </select>
            </small>&emsp;

            <small class="inline-block"><a href="{% url 'contactbookviewall' %}"><button id="seeAllBtn" style="background-color: #1b1c1c; color: rgb(195, 196, 196); display: block;">See All</button></a></small>

            <small class="inline-block"><a href="{% url 'contactbook' %}"><button id="viewLessBtn" style="background-color: #1b1c1c; color: rgb(195, 196, 196); display: none;">View Less</button></a></small>
            
            <br>
            <br>

        <div class="table-container">
            <div class="table-responsive">
                <table id="dataTable" class="table table-striped table-bordered">
                    <tr>
                        <th>
                            <p>ID</p>
                            <!-- Filter input field for ID -->
                            <input type="text" style="width: 50px;" id="filterId" onkeyup="filterTable('filterId', 0)" placeholder="Filter by ID">
                        </th>
                        <th>
                            <p>CONTROL NO</p>
                            <!-- Filter input field for CONTROL NO -->
                            <input type="text" style="width: 50px;" id="ctrlno" onkeyup="filterTable('ctrlno', 1)" placeholder="Filter by CONTROL NO">
                        </th>
                        <th>
                            <p>LEAD NO</p>
                            <!-- Filter input field for LEAD NO -->
                            <input type="text" style="width: 125px;" id="leadno" onkeyup="filterTable('leadno', 2)" placeholder="Filter by LEAD NO">
                        </th>
                        <th>
                            <p>LEAD DATE</p>
                            <!-- Filter input field for LEAD DATE -->
                            <input type="text" style="width: 125px;" id="leaddate" onkeyup="filterTable('leaddate', 3)" placeholder="Filter by LEAD DATE">
                        </th>
                        <th>
                            <p>ADDED DATE</p>
                            <!-- Filter input field for ADDED DATE -->
                            <input type="text" style="width: 125px;" id="addeddate" onkeyup="filterTable('addeddate', 4)" placeholder="Filter by ADDED DATE">
                        </th>
                        <th>
                            <p>NAME</p>
                            <!-- Filter input field for NAME -->
                            <input type="text" id="name" onkeyup="filterTable('name', 5)" placeholder="Filter by NAME">
                        </th>
                        <th>
                            <p>TYPE</p>
                            <!-- Filter input field for TYPE -->
                            <input type="text" id="type" onkeyup="filterTable('type', 6)" placeholder="Filter by TYPE">
                        </th>
                        <th>
                            <p>COURSE</p>
                            <!-- Filter input field for COURSE -->
                            <input type="text" id="course" onkeyup="filterTable('course', 7)" placeholder="Filter by COURSE">
                        </th>
                        <th>
                            <p>EMAIL</p>
                            <!-- Filter input field for EMAIL -->
                            <input type="text" id="email" onkeyup="filterTable('email', 8)" placeholder="Filter by EMAIL">
                        </th>
                        <th>
                            <p>PLACE</p>
                            <!-- Filter input field for PLACE -->
                            <input type="text" id="place" onkeyup="filterTable('place', 9)" placeholder="Filter by PLACE">
                        </th>
                        <th>
                            <p>REMARK</p>
                            <!-- Filter input field for REMARK -->
                            <input type="text" id="remark" onkeyup="filterTable('remark', 10)" placeholder="Filter by REMARK">
                        </th>
                        <th>
                            <p>PHONE</p>
                            <!-- Filter input field for PHONE -->
                            <input type="text" style="width: 125px;" id="phone" onkeyup="filterTable('phone', 11)" placeholder="Filter by PHONE">
                        </th>

                        <th>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                            <i class="bi bi-plus"></i>
                        </th>
                        {% if request.session.username == 'admin' %}
                            <th>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                </svg>
                                <i class="bi bi-plus"></i>
                            </th>
                        {% endif %}
                        <th>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                            <i class="bi bi-plus"></i>
                        </th>
                        <th>
                            <p>STATUS</p>
                            <!-- Filter input field for STATUS -->
                            {% if request.session.username == 'admin' %}
                                <input type="text" style="width: 125px;" id="status" onkeyup="filterTable('status', 15)" placeholder="Filter by STATUS">
                            {% else %}
                                <input type="text" style="width: 125px;" id="status" onkeyup="filterTable('status', 14)" placeholder="Filter by STATUS">
                            {% endif %}
                        </th>
                    </tr>

                    {% for i in data %}

                    {% if i.status == 0 %}
                        <tr style="background-color:#042654;">
                            <td>{{forloop.counter}}</td>
                            <td>{{i.control_no}}</td>
                            <td>{{i.lead_no}}</td>
                            <td>{{i.lead_given_date}}</td>
                            <td>{{i.date_time_added}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.course_type}}</td>
                            <td>{{i.course}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.place}}</td>
                            <td>{{i.remark}}</td>
                            <td>{{i.phone_no}}</td>

                            <td>
                                <a onclick="editopenPopup({{ i.id }})">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg>
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            {% if request.session.username == 'admin' %}
                                <td>
                                    <a onclick="delopenPopup({{ i.id }})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            {% endif %}


                            <td>
                                <a onclick="openPopup({{ i.id }})">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                                    </svg>
                                    <i class="bi bi-telephone"></i>
                                </a>
                            </td>
                            <td>
                                <p>WAIT FOR CALL</p>
                            </td>
                        </tr>

                    {% elif i.status == 1 %}
                        <tr style="background-color:#034809;">
                            <td>{{forloop.counter}}</td>
                            <td>{{i.control_no}}</td>
                            <td>{{i.lead_no}}</td>
                            <td>{{i.lead_given_date}}</td>
                            <td>{{i.date_time_added}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.course_type}}</td>
                            <td>{{i.course}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.place}}</td>
                            <td>{{i.remark}}</td>
                            <td>{{i.phone_no}}</td>

                            <td>
                                <a onclick="editopenPopup({{ i.id }})">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg>
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            {% if request.session.username == 'admin' %}
                                <td>
                                    <a onclick="delopenPopup({{ i.id }})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            {% endif %}
                            <td>

                            </td>
                            <td>
                                    <p>CONFORMED</p>
                            </td>
                        </tr>

                    {% elif i.status == 2 %}
                        <tr >
                            <td>{{forloop.counter}}</td>
                            <td>{{i.control_no}}</td>
                            <td>{{i.lead_no}}</td>
                            <td>{{i.lead_given_date}}</td>
                            <td>{{i.date_time_added}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.course_type}}</td>
                            <td>{{i.course}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.place}}</td>
                            <td>{{i.remark}}</td>
                            <td>{{i.phone_no}}</td>

                            <td>
                                <a onclick="editopenPopup({{ i.id }})">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg>
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            {% if request.session.username == 'admin' %}
                                <td>
                                    <a onclick="delopenPopup({{ i.id }})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            {% endif %}
                            <td>
                                <a onclick="folloupcallopenPopup({{ i.id }})">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                                    </svg>
                                    <i class="bi bi-telephone"></i>
                                </a>
                            </td>
                            <td>
                                <p>NEED FOLLOWING</p>
                            </td>
                        </tr>

                    {% elif i.status == 3 %}
                        <tr style="background-color:#92041b;">
                            <td>{{forloop.counter}}</td>
                            <td>{{i.control_no}}</td>
                            <td>{{i.lead_no}}</td>
                            <td>{{i.lead_given_date}}</td>
                            <td>{{i.date_time_added}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.course_type}}</td>
                            <td>{{i.course}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.place}}</td>
                            <td>{{i.remark}}</td>
                            <td>{{i.phone_no}}</td>

                            <td>
                                <a onclick="editopenPopup({{ i.id }})">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg>
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            {% if request.session.username == 'admin' %}
                                <td>
                                    <a onclick="delopenPopup({{ i.id }})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            {% endif %}
                            <td>

                            </td>
                            <td>
                                DENIED
                            </td>
                        </tr>

                        {% endif %}

                    {% endfor %}
                </table>
            </div>
        </div>

        <br>
        <div class="container1">
            <!-- Pagination buttons -->
            <div class="pagination">
                {% if data.has_previous %}
                    <a href="?page=1" style="color: #a2a4a4;">&emsp; &laquo; First</a>&emsp;
                    <a href="?page={{ data.previous_page_number }}" style="color: #a2a4a4;">Previous</a>
                {% endif %}

                <span class="current" style="color: #999a9a; margin-left: auto; margin-right: auto;">&emsp;<small> {{ data.number }} of {{ data.paginator.num_pages }}.</small>&emsp;</span>

                {% if data.has_next %}
                    <a href="?page={{ data.next_page_number }}" style="color: #a2a4a4;">Next</a>&emsp;
                    <a href="?page={{ data.paginator.num_pages }}" style="color: #a2a4a4;">Last &raquo;</a>&emsp;
                {% endif %}
            </div>
        </div>

  {% else %}
        <br>
        <br>
        <p align="center" style="color:red;"> There is not any value show... </p>
  {% endif %}



     <!-- Popup container -->
    <div id="editPopup" class="editpopup">
        <div class="editpopup-content">
            <!-- Include the content of call.html here -->
            <div id="editForm">
                <!-- Form will be loaded here dynamically -->
            </div>
        </div>
    </div>

            <!-- Popup container -->
    <div id="delcallPopup" class="delpopup">
        <div class="delpopup-content">
            <!-- Include the content of call.html here -->
            <div id="delcallForm">
                <!-- Form will be loaded here dynamically -->
            </div>
        </div>
    </div>

     <!-- Popup container -->
    <div id="callPopup" class="popup">
        <div class="popup-content">
            <!-- Include the content of call.html here -->
            <div id="callForm">
                <!-- Form will be loaded here dynamically -->
            </div>
        </div>
    </div>

  <!-- Popup container -->
    <div id="folloupcallPopup" class="folloupcallpopup">
        <div class="folloupcallpopup-content">
            <!-- Include the content of call.html here -->
            <div id="folloupcallForm">
                <!-- Form will be loaded here dynamically -->
            </div>
        </div>
    </div>

    <script>

            document.addEventListener("DOMContentLoaded", function() {
                // Get the current URL
                var currentURL = window.location.href;

                // Split the URL by '/' characters and get the last element
                var urlParts = currentURL.split('/');
                var lastPart = urlParts[urlParts.length - 2]; // Assuming there's a trailing '/' in the URL

                // Get the button elements
                var seeAllBtn = document.getElementById("seeAllBtn");
                var viewLessBtn = document.getElementById("viewLessBtn");

                console.log(seeAllBtn);
                console.log(viewLessBtn);

                // Check if the last part matches "need_followingseeall/"
                if (lastPart.trim() === "contactbookviewall") {
                    // Hide the "See All" button and show the "View Less" button
                    seeAllBtn.style.display = "none";
                    viewLessBtn.style.display = "block";

                    // Hide the pagination
                    var paginationDiv = document.querySelector(".container1");
                    if (paginationDiv) {
                        paginationDiv.style.display = "none";
                    }

                } else {
                    // Hide the "View Less" button and show the "See All" button
                    seeAllBtn.style.display = "block";
                    viewLessBtn.style.display = "none";

                    
                }
            });


            function sortTable() {
                var table = document.getElementById("dataTable");
                var rows = Array.from(table.rows); // Convert the HTMLCollection to an array
                var sortOption = document.getElementById("sortOptions").value;

                // Remove the header row from the array
                rows.shift();

                // Sorting logic based on selected option
                if (sortOption === "firstInFirst") {
                    rows.reverse(); // Reverse the order for "First in First"
                } else if (sortOption === "lastInFirst") {
                    // Sorting function for "Last in First"
                    rows.sort(function(a, b) {
                        return b.rowIndex - a.rowIndex;
                    });
                }

                // Reattach the rows to the table
                rows.forEach(function(row) {
                    table.appendChild(row);
                });
            }


            function filterTable(inputId, columnIndex) {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById(inputId);
                filter = input.value.toUpperCase();
                table = document.querySelector('.table-striped');
                tr = table.getElementsByTagName("tr");
                

                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[columnIndex];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }




            function folloupcallopenPopup(personId) {
                    // Show the popup
                    console.log(personId);
                    $('#folloupcallPopup').show();

                    // Fetch the call form dynamically
                    $.ajax({
                        url: `/followup2/${personId}`,
                        success: function(data) {
                            $('#folloupcallForm').html(data);

                        },
                        error: function(xhr, status, error) {
                            console.error('Error fetching form data:', error);
                        }
                    });
                }


                function openPopup(personId) {
                    // Show the popup
                    console.log(personId);
                    $('#callPopup').show();

                    // Fetch the call form dynamically
                    $.ajax({
                        url: `/call/${personId}`,
                        success: function(data) {
                            $('#callForm').html(data);

                        },
                        error: function(xhr, status, error) {
                            console.error('Error fetching form data:', error);
                        }
                    });
                }

                function editopenPopup(personId) {
                    // Show the popup
                    console.log(personId);
                    $('#editPopup').show();

                    // Fetch the call form dynamically
                    $.ajax({
                        url: `/edit/${personId}/`,
                        success: function(data) {
                            $('#editForm').html(data);

                        },
                        error: function(xhr, status, error) {
                            console.error('Error fetching form data:', error);
                        }
                    });
                }


        function delopenPopup(personId) {
                    // Show the popup
                    console.log(personId);
                    $('#delcallPopup').show();

                    // Fetch the call form dynamically
                    $.ajax({
                        url: `/delete2/${personId}`,
                        success: function(data) {
                            $('#delcallForm').html(data);

                        },
                        error: function(xhr, status, error) {
                            console.error('Error fetching form data:', error);
                        }
                    });
                }




            // Close the popup when clicking outside of it (optional)
            window.onclick = function(event) {
                var editPopup = document.getElementById('editPopup');
                var delcallPopup = document.getElementById('delcallPopup');
                var callPopup = document.getElementById('callPopup');
                var folloupcallPopup = document.getElementById('folloupcallPopup');

                console.log("@@@@@@@@@@@@@@@@@@@@@@@");

                if (event.target == editPopup) {
                    closePopup(editPopup);
                }

                if (event.target == delcallPopup) {
                    closePopup(delcallPopup);
                }

                if (event.target == callPopup) {
                    closePopup(callPopup);
                }

                if (event.target == folloupcallPopup) {
                    closePopup(folloupcallPopup);
                }
            }

            function closePopup(popup) {
                // Hide the popup by setting its display property to "none"
                popup.style.display = 'none';
                location.reload();
            }

        </script>
</body>
{% endblock %}