
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Call page</title>
    <style>
        .custom-input {
    color: rgb(4, 4, 4);
    background-color: #faf7f7; /* Change background color */
    border-color: #f9f7f7; /* Change border color */
    }
    .custom-input:focus {
    color: white; /* Set text color to white when input is focused */
    }
    .form-container {
    border: 1px solid #ccc; /* Add border to the form container */
    padding: 20px; /* Add padding to give space between the border and form elements */
    background-color: #e4e6e4;
    }
    .container1 {
    border: 1px solid #ccc; /* Add border to the form container */
    padding: 5px; /* Add padding to give space between the border and form elements */
    background-color: #e4e6e4;
    }

    </style>
</head>
<body>
    <div class="container">
        <div class="container1">
            <h4 style="text-align: center; color: black;">FOLLOWUP CALL</h4>
            
        </div>
        <br>
        {% for i in data %}
            <br>
            <form id="followformdynamic" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                        
                            <!-- <a href="javascript:void(0);" onclick="updatePriority('{{ i.lead.id }}')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                                <i class="bi bi-star-fill"></i>
                            </a> -->
                        
                        <br><br>
                        <div class="form-container">
                            <p style="color: black;">STUDENT PART</p>
                            <input type="hidden" name="personId" id="personId" value="{{i.id}}">
                            <input type="text" class="form-control custom-input" name="control_no" value="{{i.lead.control_no}}" disabled><br>

                            {% if i.lead.name %}
                                {% if request.session.username == 'admin' %}
                                    <input type="text" class="form-control custom-input" name="name1" value="{{i.lead.name}}" ><br>
                                {% else %}
                                    <input type="text" class="form-control custom-input" name="name1" value="{{i.lead.name}}" disabled><br>
                                    <input type="hidden" name="name1" value="{{i.lead.name}}">
                                {% endif %}
                            {% else %}
                                <!-- Handle the case where i.name is not available -->
                                <input type="text" class="form-control custom-input" name="name1" placeholder="Enter the Name"><br>
                            {% endif %}

                            {% if i.lead.phone_no %}
                                {% if request.session.username == 'admin' %}
                                    <input type="text" class="form-control custom-input" name="phone_no" value="{{i.lead.phone_no}}" required><br>
                                {% else %}
                                    <input type="text" class="form-control custom-input" name="phone_no" value="{{i.lead.phone_no}}" required disabled><br>
                                    <input type="hidden" name="phone_no" value="{{i.lead.phone_no}}">
                                {% endif %}
                            {% else %}
                                <!-- Handle the case where i.phone_no is not available -->
                                <input type="text" class="form-control custom-input" name="phone_no" placeholder="Enter the Phone" required><br>
                            {% endif %}

                            {% if i.lead.email %}
                                {% if request.session.username == 'admin' %}
                                    <input type="text" class="form-control custom-input" name="email" value="{{i.lead.email}}" ><br>
                                {% else %}
                                    <input type="text" class="form-control custom-input" name="email" value="{{i.lead.email}}" disabled><br>
                                    <input type="hidden" name="email" value="{{i.lead.email}}">
                                {% endif %}
                            {% else %}
                                <!-- Handle the case where i.email is not available -->
                                <input type="text" class="form-control custom-input" name="email" placeholder="Enter the Email"><br>
                            {% endif %}

                            {% if i.lead.degree %}
                                {% if request.session.username == 'admin' %}
                                    <input type="text" class="form-control custom-input" name="degree" value="{{i.lead.degree}}" ><br>
                                {% else %}
                                    <input type="text" class="form-control custom-input" name="degree" value="{{i.lead.degree}}" disabled><br>
                                    <input type="hidden" name="degree" value="{{i.lead.degree}}">
                                {% endif %}
                            {% else %}
                                <!-- Handle the case where i.email is not available -->
                                <input type="text" class="form-control custom-input" name="degree" placeholder="Enter the Qualification"><br>
                            {% endif %}

                            {% if i.lead.course_type %}
                                <select name="coursemode" class="form-control custom-input" id="coursemode">
                                    <option value="{{i.course}}">{{i.lead.course_type}}</option>
                                    <option value="internship">internship</option>
                                    <option value="workshop">workshop</option>
                                </select><br>
                            {% else %}
                                <!-- Handle the case where i.course is not available -->
                                <select name="coursemode" class="form-control custom-input" id="coursemode1">
                                    <option value="Not mentioned">Not mentioned</option>
                                    <option value="internship">internship</option>
                                    <option value="workshop">workshop</option>
                                </select><br>
                            {% endif %}

                            {% if i.lead.course %}
                                <select name="course" class="form-control custom-input" id="course">
                                    <option value="{{i.course}}">{{i.lead.course}}</option>
                                    {% for c in coursedata %}
                                    <option value="{{c.course}}">{{c.course}}</option>
                                    {% endfor %}
                                </select><br>
                            {% else %}
                                <!-- Handle the case where i.course is not available -->
                                <select name="course" class="form-control custom-input" id="course1">
                                    <option value="">not mentioned</option>
                                    {% for c in coursedata %}
                                    <option value="{{c.course}}">{{c.course}}</option>
                                    {% endfor %}
                                </select><br>
                            {% endif %}

                            {% if i.lead.place %}
                                {% if request.session.username == 'admin' %}
                                    <input type="text" class="form-control custom-input" name="place" value="{{i.lead.place}}" ><br>
                                {% else %}
                                    <input type="text" class="form-control custom-input" name="place" value="{{i.lead.place}}" disabled><br>
                                    <input type="hidden" name="place" value="{{i.lead.place}}">
                                {% endif %}
                            {% else %}
                                <!-- Handle the case where i.place is not available -->
                                <input type="text" class="form-control custom-input" name="place" placeholder="Enter the Place"><br>
                            {% endif %}

                            {% if i.lead.source %}
                                <input type="text" class="form-control custom-input" name="source" value="{{i.lead.source}}" disabled><br>
                            {% else %}
                                <!-- Handle the case where i.email is not available -->
                                <input type="text" class="form-control custom-input" name="source" placeholder="source not available" disabled><br>
                            {% endif %}

                            {% if i.lead.remark %}
                                <input type="text" class="form-control custom-input" name="remark" value="{{i.lead.remark}}" disabled><br>
                            {% else %}
                                <!-- Handle the case where i.remark is not available -->
                                <input type="text" class="form-control custom-input" name="remark" placeholder="remark not available" disabled><br>
                            {% endif %}

                        </div>

                    </div>
                   



                        <br>
                        <br>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center"> 
                        <a href="{% url 'single_person_export_to_excel' i.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                            </svg>
                            <i class="bi bi-download"></i>
                        </a>
                        <br><br>
                        <div class="form-container">

                            <!-- <input type="text" class="form-control custom-input" name="control_no" value="{{i.lead.name}}" disabled><br> -->
                            <p style="color: black;">EMPLOYEE PART</p>
                            <select name="name" class="form-control custom-input" id="name">
                                <option value="{{request.session.name}}|{{request.session.emp_id}}">{{request.session.name}}({{request.session.emp_id}})</option>
                                {% for j in data1 %}
                                <option value="{{j.name}}|{{j.emp_id}}">{{j.name}}({{j.emp_id}})</option>
                                {% endfor %}
                            </select><br>
                            <select name="called_meadium" class="form-control custom-input" id="called_meadium">
                                <option value="phone">Phone</option>
                                <option value="email">Email</option>
                                <option value="message">message</option>
                                <option value="others">others</option>
                            </select><br>
                            <select name="status" class="form-control custom-input" id="status">
                                <option value="1">CONFORMED</option>
                                <option value="2">NEED FOLLOWING</option>
                                <option value="3">DENIED</option>
                            </select><br>
                            <input type="text" class="form-control custom-input" placeholder="Enter the Remark" name="remark"><br>
                        </div>
                    </div>
                    
                </div>
                <br> 
                <input type="submit" class="btn btn-success">

            </form>

        {% endfor %}
        {% for msg in messages %}
        {{msg}}
        {% endfor %}
    </div>

<br>
<br>



<!-- class="col-12 col-sm-12 col-md-12 col-lg-6 text-center" -->
 <!--  followup history part  -->
 <div class="row">
    <div class="col-md-12 ">
        {% if data3 %}
        <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Initial Call</h5>
                    <p class="card-text" style="color:white;">{{data3.emp_remark}}</p>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{data3.calls_made.name}}</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{data3.called_datetime}}</h6>
                </div>  
        </div>
        {% endif %}

        {% for i in data2 %}
        <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"> Followup No-{{forloop.counter}}</h5>
                    <p class="card-text" style="color:white;">{{i.emp_remark}}</p>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{i.calls_made.name}}</h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{i.called_datetime}}</h6>
                </div>
        </div>
        {% endfor %}
    </div>
 </div>



<script>
    function updatePriority(id) {
    newPriority='{{ i.lead.priority }}'
    var csrftoken = getCookie('csrftoken'); // Function to get CSRF token from cookies
    alert(newPriority)
    console.log(newPriority)

    newPriority = newPriority === '1' ? '0' : '1';
    console.log(newPriority)



    if (newPriority === 1) {
                // Set the star to filled
                $('#' + id + ' .bi-star').addClass('bi-star-fill');
            } else {
                // Set the star to outline
                $('#' + id + ' .bi-star-fill').removeClass('bi-star-fill');
            }

    // Send an AJAX request to update the priority
    console.log("%%%%%% updatePriority %%%%%%");
    console.log(id);
    console.log(newPriority);
    $.ajax({
        url: `/update_priority/`,
        method: 'POST',
        headers: { 'X-CSRFToken': csrftoken }, // Include CSRF token in headers
        data: {
            'priority': newPriority,
            'person_id': id
        },
        success: function(response) {
            alert("successssssssss......");
            // Update the priority value on the frontend
            if (newPriority === 1) {
                document.getElementById('priorityStatus').innerHTML="In Priority"
                // Set the star to filled
                $('#' + id + ' .bi-star').addClass('bi-star-fill');
            } else {
                document.getElementById('priorityStatus').innerHTML="Not in Priority"
                // Set the star to outline
                $('#' + id + ' .bi-star-fill').removeClass('bi-star-fill');
            }
            // Update the priority value in your data without refreshing the page
            // You may need to update the priority value in your data object dynamically
            // based on the response from the server
        },
        error: function(xhr, status, error) {
            console.error('Error updating priority:', error);
        }
    });
}

// Function to get CSRF token from cookies
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}




   // Attach event listener to form submission
    $(document).on('submit', '#followformdynamic', function(event) {
        console.log("Form submission event triggered");
        // Prevent default form submission
            event.preventDefault();

            // Get the personId from the form or any other appropriate source
            var personId = $('#personId').val();

            // Call submitForm function to handle form submission
            console.log("%%%%%%%%%%%%");
            console.log(personId);
            submitForm(personId);
        });




                // Function to handle form submission
                function submitForm(personId) {
                    console.log(personId);
                    console.log("hia all");

                    // Serialize form data
                    var formData = $('#followformdynamic').serialize();
                    console.log(formData)

                    // Send POST request to save form data
                    $.ajax({
                        url: `/followup/${personId}/`,
                        method: 'POST',
                        data: formData,
                        success: function(response) {
                            // Handle success response
                            console.log('Form submitted successfully');
                            // You can optionally close the popup or perform any other action here
                            document.getElementById('callPopup').style.display = 'none';
                            location.reload();
                            // closePopup(); // Close the popup after form submission
                        },
                        error: function(xhr, status, error) {
                            // Handle error response
                            console.error('Error submitting form:', error);
                            // Optionally display an error message to the user
                        }
                    });
                }


</script>
</body>
</html>


