{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 15px;

}
</style>
</head>
<body>
    {% if data %}
        <h4><u>users Table</u></h4>
        <table>
            <tr>
                <th>ID</th>
                <th>CONTROL NO</th>
                <th>LEAD NO</th>
                <th>LEAD DATE</th>
                <th>ADDED DATE</th>
                <th>NAME</th>
                <th>COURSE</th>
                <th>EMAIL</th>
                <th>PLACE</th>
                <th>REMARK</th>
                <th>PHONE</th>
                <th>NO OF FOLLOWUPS</th>
                <th>CALL</th>
            </tr>

            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.lead.control_no}}</td>
                <td>{{i.lead.lead_no}}</td>
                <td>{{i.lead.lead_given_date}}</td>
                <td>{{i.lead.date_time_added}}</td>
                <td>{{i.lead.name}}</td>
                <td>{{i.lead.course}}</td>
                <td>{{i.lead.email}}</td>
                <td>{{i.lead.place}}</td>
                <td>{{i.lead.remark}}</td>
                <td>{{i.lead.phone_no}}</td>
                <td><a href="{% url 'followup_actions' i.id %}">{{i.no_of_followups}}</a></td>
                <td><a href="{% url 'followup' i.id %}"> <input type="button" value="call"> </a></td>

            </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>
{% endblock %}