{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>



       /* CSS for white text color */
    .table-responsive table tr th,
    .table-responsive table tr td {
        color: LightGrey;
    }

    table, th, td {
      border: 1px solid white;
      border-collapse: collapse;
      padding: 15px;

    }
    th {
        position: sticky;
        top: 0;
        background-color: black;
        z-index: 1;
    }
    /* Additional styling for the container to enable scrolling */
    /* Adjust as needed */
              /* .table-container {
                  max-height: 400px; 
                  overflow-y: auto;
              } */


          /* Popup container styles */
          .popup {
            display: none; /* Hide popup by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
            z-index: 9999; /* Ensure the popup appears on top of other content */
          }

          /* Popup content styles */
          .popup-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            max-width: 80%; /* Adjust the width as needed */
            max-height: 80%; /* Adjust the height as needed */
            overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
          }

     /* Popup container styles */
          .popup-followup {
            display: none; /* Hide popup by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
            z-index: 9999; /* Ensure the popup appears on top of other content */
          }

          /* Popup content styles */
          .popup-content-followup {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            max-width: 80%; /* Adjust the width as needed */
            max-height: 80%; /* Adjust the height as needed */
            overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
            width: max-content;
          }

/* Style the first column */
th:first-child, td:first-child {
    position: sticky;
    left: 0;
    background-color: #1b1c1c;
    z-index: 2; /* Ensure it appears above other cells */
}

/* Fix the second column next to the first column */
th:nth-child(2), td:nth-child(2) {
    position: sticky;
    left: 50px; /* Adjust this value based on the width of the first column */
    background-color: #1b1c1c;
    z-index: 2; /* Ensure it appears above other cells */
}

.container1 {
    border: 1px solid #1b1c1c; /* Add border to the form container */
    padding: 5px; /* Add padding to give space between the border and form elements */
    background-color: #1b1c1c;
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto; /* Center the container horizontally */
    width: 37%; /* Set the desired width of the container */
    }
.inline-block {
        display: inline-block;
    }

</style>
</head>
<body>

<!-- Popup container -->
<div id="callPopup" class="popup">
  <div class="popup-content">
    <!-- Content will be dynamically loaded here -->
  </div>
</div>


<!-- Popup container -->
    <div id="followcallPopup" class="popup-followup">
        <div class="popup-content-followup">
            <!-- Include the content of call.html here -->
            <div id="followcallForm">
                <!-- Form will be loaded here dynamically -->
            </div>
        </div>
    </div>

    {% if data %}
        <h4><u>NEED FOLLOWING TABLE</u>
        <a href="{% url 'need_following_export_to_excel' %}">
            <h4 style="color:red;" > <small> download page </small>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                  <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                </svg>
                <i class="bi bi-file-earmark-arrow-down"></i>
            </h4>
        </a>
        <br>

        <!-- Modify the onchange attribute of the select element -->
        <small class="inline-block">
            <select id="sortOptions" onchange="sortTable()" style="background-color: #1b1c1c; color: rgb(195, 196, 196);">
                <option value="lastInFirst">Last in First</option>
                <option value="firstInFirst">First in First</option>
            </select>
        </small>&emsp;

        <small class="inline-block"><a href="{% url 'need_followingseeall' %}"><button id="seeAllBtn" style="background-color: #1b1c1c; color: rgb(195, 196, 196); display: block;">See All</button></a></small>

        <small class="inline-block"><a href="{% url 'need_following' %}"><button id="viewLessBtn" style="background-color: #1b1c1c; color: rgb(195, 196, 196); display: none;">View Less</button></a></small>

        <small class="inline-block"><a href="{% url 'priorityonBtn' %}"><button id="priorityonBtn" style="background-color: #1b1c1c; color: rgb(195, 196, 196); display: block;">Priority ON</button></a></small>

        <small class="inline-block"><a href="{% url 'need_following' %}"><button id="priorityoffBtn" style="background-color: #1b1c1c; color: rgb(195, 196, 196); display: none;">Priority OFF</button></a></small>
        
        <br>
        <br>


        <div class="table-container">
            <div class="table-responsive">
                <table id="dataTable" class="table table-striped table-bordered ">
                    <tr>
                        <th>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                            <i class="bi bi-plus"></i>
                        </th>
                        <th>
                            <p>
                                <abbr title="Number of Followups">N/F</abbr>
                            </p>
                            <!-- Filter input field for Number of Followups -->
                            <input type="text" style="width: 50px;" id="filterNoOfFollowups" onkeyup="filterTable1('filterNoOfFollowups', 1)" placeholder="Filter by N/F">
                        </th>
                        <th>
                            <p>ID</p>
                            <!-- Filter input field for ID -->
                            <input type="text" style="width: 50px;" id="filterId" onkeyup="filterTable('filterId', 2)" placeholder="Filter by ID">
                        </th>
                        <th>
                            <p>
                                <abbr title="CONTROL NO">CNT NO</abbr>
                            </p>
                            <!-- Filter input field for Control Number -->
                            <input type="text" style="width: 50px;" id="filterControlNo" onkeyup="filterTable('filterControlNo', 3)" placeholder="Filter by CNT NO">
                        </th>
                        <th>
                            <p>LEAD NO</p>
                            <!-- Filter input field for LEAD NO -->
                            <input type="text" style="width: 125px;" id="leadno" onkeyup="filterTable('leadno', 4)" placeholder="Filter by LEAD NO">
                        </th>
                        <th>
                            <p>LEAD DATE</p>
                            <!-- Filter input field for LEAD DATE -->
                            <input type="text" style="width: 125px;" id="leaddate" onkeyup="filterTable('leaddate', 5)" placeholder="Filter by LEAD DATE">
                        </th>
                        <th>
                            <p>SOURCE</p>
                            <!-- Filter input field for SOURCE -->
                            <input type="text" style="width: 125px;" id="source" onkeyup="filterTable('source', 6)" placeholder="Filter by SOURCE">
                        </th>
                        <th>
                            <p>NAME</p>
                            <!-- Filter input field for NAME -->
                            <input type="text" id="name" onkeyup="filterTable('name', 7)" placeholder="Filter by NAME">
                        </th>
                        <th>
                            <p>QUALIFICATION</p>
                            <!-- Filter input field for QUALIFICATION -->
                            <input type="text" id="quali" onkeyup="filterTable('quali', 8)" placeholder="Filter by QUALIFICATION">
                        </th>
                        <th>
                            <p>TYPE</p>
                            <!-- Filter input field for TYPE -->
                            <input type="text" id="type" onkeyup="filterTable('type', 9)" placeholder="Filter by TYPE">
                        </th>
                        <th>
                            <p>COURSE SELECTED</p>
                            <!-- Filter input field for COURSE SELECTED -->
                            <input type="text" id="course" onkeyup="filterTable('course', 10)" placeholder="Filter by COURSE SELECTED">
                        </th>
                        <th>
                            <p>PLACE</p>
                            <!-- Filter input field for PLACE -->
                            <input type="text" id="place" onkeyup="filterTable('place', 11)" placeholder="Filter by PLACE">
                        </th>
                        <th>
                            <p>LEAD REMARK</p>
                            <!-- Filter input field for LEAD REMARK -->
                            <input type="text" id="remark" onkeyup="filterTable('remark', 12)" placeholder="Filter by LEAD REMARK">
                        </th>
                        <th>
                            <p>PHONE</p>
                            <!-- Filter input field for PHONE -->
                            <input type="text" id="ph" onkeyup="filterTable('ph', 13)" placeholder="Filter by PHONE">
                        </th>
                        <th>
                            <p>EMAIL</p>
                            <!-- Filter input field for EMAIL -->
                            <input type="text" id="email" onkeyup="filterTable('email', 14)" placeholder="Filter by EMAIL">
                        </th>

                    </tr>

                    {% for i in data %}
                    <tr>
                        <td>
                            <a onclick="followopenPopup({{ i.id }})">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                                </svg>
                                <i class="bi bi-arrow-right-circle"></i>
                            </a>
                        </td>
                        <td> <input type="button" value={{i.no_of_followups}} onclick="openPopup({{ i.id }})"> </td>
                        <td>{{forloop.counter}}

                            {% if i.lead.priority == 1  %}
                                <a href="javascript:void(0);" onclick="updatePriority('{{ i.lead.id }}',0)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path id="star" d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                    </svg>
                                    <!-- <i class="bi bi-star-fill"></i> -->
                                </a>
                            {% else %}
                                <a href="javascript:void(0);" onclick="updatePriority('{{ i.lead.id }}',1)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                    </svg>
                                    <!-- <i class="bi bi-star"></i> -->
                                </a>
                            {% endif %}
                        </td>
                        <td>{{i.lead.control_no}}</td>
                        <td>{{i.lead.lead_no}}</td>
                        <td>{{i.lead.lead_given_date}}</td>
                        <td>{{i.lead.source}}</td>
                        <td>{{i.lead.name}}</td>
                        <td>{{i.lead.degree}}</td>
                        <td>{{i.lead.course_type}}</td>
                        <td>{{i.lead.course}}</td>
                        <td>{{i.lead.place}}</td>
                        <td>{{i.lead.remark}}</td>
                        <td>{{i.lead.phone_no}}</td>
                        <td>{{i.lead.email}}</td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <br>
        <br>
        <div class="container1">
            <!-- Pagination buttons -->
            <div class="pagination">
                {% if data.has_previous %}
                    <a href="?page=1" style="color: #a2a4a4;">&emsp; &laquo; First</a>&emsp;
                    <a href="?page={{ data.previous_page_number }}" style="color: #a2a4a4;">Previous</a>
                {% endif %}

                <span class="current" style="color: #999a9a; margin-left: auto; margin-right: auto;">&emsp;<small> {{ data.number }} of {{ data.paginator.num_pages }}.</small>&emsp;</span>

                {% if data.has_next %}
                    <a href="?page={{ data.next_page_number }}" style="color: #a2a4a4;">Next</a>&emsp;
                    <a href="?page={{ data.paginator.num_pages }}" style="color: #a2a4a4;">Last &raquo;</a>&emsp;
                {% endif %}
            </div>
        </div>

    {% else %}
            <br>
            <br>
            <p align="center" style="color:red;"> There is not any value show... </p>
    {% endif %}



<!-- JavaScript code to handle popup functionality -->
<script>


function updatePriority(id, newPriority) {
    var csrftoken = getCookie('csrftoken'); // Function to get CSRF token from cookies
    
    console.log(newPriority)


    // Send an AJAX request to update the priority
    console.log("%%%%%% updatePriority %%%%%%");
    console.log(id);
    console.log(newPriority);
    $.ajax({
        url: `/update_priority/`,
        method: 'POST',
        headers: { 'X-CSRFToken': csrftoken }, // Include CSRF token in headers
        data: {
            'priority': newPriority,
            'person_id': id
        },
        success: function(response) {
            console.log("successss...");
            location.reload();


    
            // Update the priority value in your data without refreshing the page
            // You may need to update the priority value in your data object dynamically
            // based on the response from the server
        },
        error: function(xhr, status, error) {
            console.error('Error updating priority:', error);
        }
    });
}


function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Check if the cookie contains the specified name
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


document.addEventListener("DOMContentLoaded", function() {
    // Get the current URL
    var currentURL = window.location.href;

    // Split the URL by '/' characters and get the last element
    var urlParts = currentURL.split('/');
    var lastPart = urlParts[urlParts.length - 2]; // Assuming there's a trailing '/' in the URL

    // Get the button elements
    var seeAllBtn = document.getElementById("seeAllBtn");
    var viewLessBtn = document.getElementById("viewLessBtn");

    var priorityonBtn = document.getElementById("priorityonBtn");
    var priorityoffBtn = document.getElementById("priorityoffBtn");

    console.log(seeAllBtn);
    console.log(viewLessBtn);

    // Check if the last part matches "need_followingseeall/"
    if (lastPart.trim() === "need_followingseeall") {
        // Hide the "See All" button and show the "View Less" button
        seeAllBtn.style.display = "none";
        viewLessBtn.style.display = "block";

        // Hide the pagination
        var paginationDiv = document.querySelector(".container1");
        if (paginationDiv) {
            paginationDiv.style.display = "none";
        }

    } else {
        // Hide the "View Less" button and show the "See All" button
        seeAllBtn.style.display = "block";
        viewLessBtn.style.display = "none";

        
    }

    if (lastPart.trim() === "priorityonBtn") {
        // Hide the "See All" button and show the "View Less" button
        priorityonBtn.style.display = "none";
        priorityoffBtn.style.display = "block";

        // Hide the pagination
        var paginationDiv = document.querySelector(".container1");
        if (paginationDiv) {
            paginationDiv.style.display = "none";
        }

    } else {
        // Hide the "View Less" button and show the "See All" button
        priorityonBtn.style.display = "block";
        priorityoffBtn.style.display = "none";

        
    }
});


function sortTable() {
    var table = document.getElementById("dataTable");
    var rows = Array.from(table.rows); // Convert the HTMLCollection to an array
    var sortOption = document.getElementById("sortOptions").value;

    // Remove the header row from the array
    rows.shift();

    // Sorting logic based on selected option
    if (sortOption === "firstInFirst") {
        rows.reverse(); // Reverse the order for "First in First"
    } else if (sortOption === "lastInFirst") {
        // Sorting function for "Last in First"
        rows.sort(function(a, b) {
            return b.rowIndex - a.rowIndex;
        });
    }

    // Reattach the rows to the table
    rows.forEach(function(row) {
        table.appendChild(row);
    });
}


function filterTable1(inputId, columnIndex) {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById(inputId);
    filter = input.value.toUpperCase();
    table = document.querySelector('.table-striped');
    tr = table.getElementsByTagName("tr");
    

    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[columnIndex];
        if (td) {
            // Retrieve the input element within the table cell
            var inputElement = td.querySelector('input[type="button"]');

            // Get the text value of the input element
            txtValue = inputElement.value;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}



function filterTable(inputId, columnIndex) {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById(inputId);
    filter = input.value.toUpperCase();
    table = document.querySelector('.table-striped');
    tr = table.getElementsByTagName("tr");
    

    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[columnIndex];
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}







 function openPopup(personId) {
    // Show the popup by setting its display property to "block"
    document.getElementById('callPopup').style.display = 'block';

    // Fetch details of the specific person using AJAX
    fetch(`/followup_actions/${personId}`)
        .then(response => response.text())
        .then(data => {
            // Populate the popup content with the fetched data
            document.querySelector('.popup-content').innerHTML = data;
        })
        .catch(error => console.error('Error:', error));
}






function followopenPopup(personId) {
    // Show the popup
    console.log(personId);

    document.getElementById('followcallPopup').style.display = 'block';

    // $('#followcallForm').show();

    // Fetch the call form dynamically
    $.ajax({
        url: `/followup/${personId}/`,
        success: function (data) {
            $('#followcallForm').html(data);


            // Example: Update table content after successful AJAX call
            updateTable(); // Call function to update table

        },
        error: function (xhr, status, error) {
            console.error('Error fetching form data:', error);
        }
    });
}



// // Function to update table content
// function updateTable() {
//     // Fetch updated data using AJAX
//     fetch('/need_following')
//         .then(response => response.json())
//         .then(data => {
//             // Assuming data is an array of objects representing table rows
//             // Clear existing table content
//             document.getElementById('dataTable').innerHTML = '';

//             // Iterate over the data and populate the table
//             data.forEach(item => {
//                 // Create table row
//                 var row = document.createElement('tr');

//                 // Add table data cells for each property in the item object
//                 Object.values(item).forEach(value => {
//                     var cell = document.createElement('td');
//                     cell.textContent = value;
//                     row.appendChild(cell);
//                 });

//                 // Append row to the table
//                 document.getElementById('dataTable').appendChild(row);
//             });
//         })
//         .catch(error => console.error('Error:', error));
// }



// Close the popup when clicking outside of it (optional)
window.onclick = function(event) {
    var callPopup = document.getElementById('callPopup');
    var followcallPopup = document.getElementById('followcallPopup');

    console.log("@@@@@@@@@@@@@@@@@@@@@@@");

    if (event.target == callPopup) {
        closePopup(callPopup);
    }

    if (event.target == followcallPopup) {
        closePopup(followcallPopup);
    }
}

function closePopup(popup) {
    // Hide the popup by setting its display property to "none"
    popup.style.display = 'none';
    location.reload();
}
</script>

</body>
</html>
{% endblock %}